{% extends 'PeliSeries/base.html' %}

{% block content %}
<div class="contenedor">
    <form method='POST' class="form" id="formulario">
        <div class="form-header">
            <h3 class="form-title">Correo Enviado</h3>
            <p class="form-title">Si el correo que has ingresado coincide, te enviaremos las instrucciones a tu bandeja de entrada</p>
            <p class="form-title"><a class="form-title" href="{% url 'login' %}">Ir al Login de Usuario</a></p>
        </div>  
        
        
    </form>  
</div>
 
{% endblock %}