{% extends 'PeliSeries/base.html' %}

{% block content %}
<div class="contenedor">
    <form method='POST' class="form" id="formulario">
        <div class="form-header">
            <h3 class="form-title">¿Olvidaste tu contraseña?</h3>
            <p class="form-title">Ingresa tu correo y te enviaremos las instrucciones para recuperarlo</p>
        </div>  
        {% csrf_token %}
        <label class="form-label">Correo de usuario</label>
        <input class="form-input" type="email" name="email" placeholder="Ingrese su correo">
        <input type="submit" name="enviar" class="btn-submit" value="Recuperar Contraseña">
        
    </form>  
</div>
 

{% endblock %}