{% extends 'PeliSeries/base.html' %}
{% block nav %}
<li><a href="{% url 'home' %}">Inicio</a></li>
<li><a href="{% url 'indexPelis' %}">BiblioPelis</a></li>
<li><a href="{% url 'indexSeries' %}">BiblioSeries</a></li>
<li><a href="{% url 'consultas' %}">Consultas</a></li>
{% endblock %}

{% block content %}

<div class="contenedor">
    <form method='POST' class="form" id="formulario">
        <div class="form-header">
            <h1 class="form-title">Registrar</h1>
        </div>
        {% csrf_token %}
        <label class="form-label" >Username</label>
        {{ form.username }}
        <label class="form-label">Nombre</label>
        {{ form.first_name }}
        <label class="form-label">Apellido</label>
        {{ form.last_name }}
        <label class="form-label">Correo</label>
        {{ form.email }}
        <label class="form-label">Contraseña</label>
        <input class="form-input" type="password" name="password1"
             placeholder="Ingrese su contraseña">
        <label class="form-label">Repita Contraseña</label>
        <input class="form-input" type="password" name="password2" placeholder="Vuelva a ingresar su contraseña">
        <input type="submit" id="boton" name="enviar" class="btn-submit" value="Registrarse">
    </form>  
</div>

 

{% endblock %}