{% extends 'PeliSeries/base.html' %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide sliderubic" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
    {% for car in carrousel|slice:":3" %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
            <h1 class="eslogan">{{car.enunciado}}</h1>
            <img src="{{car.img_carousel.url}}" class="d-block w-100 imgcarrusel" alt="...">
        </div>
    {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section class="infoindex">
    <article id="infoleft" class="box">
        <div id="#centra-texto" class="sub-box .centra-txt ">
            <h2>Movies Collection, las mejores recomendaciones de películas y series para que disfrutes en tu casa.</h2>
            <p>Síguenos semanalmente para mantenerte actualizado</p>
        </div>
        <div class="sub-box centra">
            <img src="/static/img/index_1.jpg" alt="">
        </div>
    </article>

    <article id="inforight" class="box">
        <div class="sub-box">
            <a href="{% url 'consultas' %}"><img src="/static/img/Formulario_2.png" alt=""></a>
        </div>
        <div class="sub-box">
            <h2>También informate de las últimas novedades del cine en el mundo</h2>
            <p>Si tienes dudas puedes dejarnos tu comentario en nuestro apartado de contacto</p>
        </div>
    </article>
</section>
{% endblock %}

