{% extends 'PeliSeries/base.html' %}
{% block content %}
    <section class="grid-layout-boxes">
        {% for peli in pelis %}
        <article class="cajapeli-serie">
            <h5> <a href="{% url 'detailPS' pk=peli.pk %}">{{peli.titulo}}</a></h5>
            <img src="{{ peli.caratula.url }}" alt="">
            <a class="guarda-favorito" ><span class="icon-heart "></span></a>
            <form class="descpelis">
                <div class="sect-estreno">
                    <label for="estreno">Año Estreno: </label>
                    <p name="estreno"> {{peli.year_estreno}}</p>
                </div>
                <div class="sect-genero">
                    <label for="genero">Género: </label>
                    <p name="genero"> {{peli.genero}}</p>
                </div>
                <div class="sect-desc">
                    <label for="descripcion">Descripción: </label>
                    <p name="descripcion" class="limitadesc">
                    {{peli.descripcion}}   
                    </p>
                </div>
            </form>
        </article>
        {% endfor %}
    </section>
    <div class="subir-inicio">
        <a href="#"><span class="icon-arrow-up"></span></a>
    </div>
{% endblock %}