{% extends 'PeliSeries/base.html' %}
{% block nav %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li><a href="{% url 'indexPelis' %}">BiblioPelis</a></li>
    <li><a href="{% url 'indexSeries' %}">BiblioSeries</a></li>
    <li><a href="{% url 'consultas' %}">Consultas</a></li>
{% endblock %}
{% block content %}
<div class="contenedor">
    <form action="" method='POST' class="form" id="formulario" enctype="multipart/form-data">
        <div class="form-header">
            <h1 class="form-title">Peliserie</h1>
        </div>
        {% csrf_token %}
        <label class="form-label">Categoria</label>
        {{form.categoria}}
        <label class="form-label">Titulo</label>
        {{form.titulo}}
        <label class="form-label">Autor</label>
        {{form.autor}}
        <label class="form-label">Reparto</label>
        {{form.reparto}}
        <label class="form-label">Descripcion</label>
        {{form.descripcion}}
        <label class="form-label">Genero</label>
        {{form.genero}}
        <label class="form-label">Estreno</label>
        {{form.year_estreno}}
        <label class="form-label">Imagen</label>
        {{form.caratula}}
        <input type="submit" name="enviar" class="btn-submit" value="Guardar Peliserie">
    </form>
</div>
{% endblock %}